{
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  "printWidth": 80,
  "overrides": [
    {
      "files": ["src/database/migrations/**/*.ts"],
      "options": {
        "printWidth": 1000
      }
    }
  ]
}
